<h1>About</h1>

<p>Established March 2017 by <%= link_to 'Matt Gauger', 'http://blog.mattgauger.com' %>.</p>

<p>
<%= link_to 'Logo by Zlatko Najdenovski', '' %> under a <%= link_to 'Creative Commons (Attribution 3.0 Unported)', 'http://creativecommons.org/licenses/by/3.0/' %> license.
</p>
