<h1>Welcome to the Intelligence Augmentation BBS!</h1>

<p>
  As of May 24th, 2018, the forums are shut down.
</p>

<p>
  If you wish to continue conversations, please do so on the
  <b><%= link_to 'GitHub repo for intaug-bbs', 'https://github.com/mathias/intaug-bbs/issues' %></b>.
</p>

<p>Building better brains for tomorrow, today.</p>
